*{
    margin: 0;
}
.navbar{
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.icones{
    list-style: none;
    display: inline;
    
}
.home-link{
    list-style: none;
}
.link{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
    float: left;
    color: #161616;
    padding: 5px;
    margin: 8px 5px 8px 5px;
}
li button{
    float: right;
    padding: 5px;
    margin: 8px 5px 8px 5px;
    background-color: #fff;
    color: #5CA720;
    border: none;
}
.banner{
    width: 100%;
}
.promo{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    padding: 9px;
    margin-left: 85px;
    display: block;
    border-bottom: gainsboro;
}
.produtos{
    float: right;
    margin-top: -25px;
}
.cards{
    display: inline-block;
    padding: 6px 20px 0px;
    margin: 35px 32px 0px;
    width: 330px;
    height: 285px;
}
.lista-cards{
    list-style: none;
    display: flex;
}
.text-card{
    padding: 2px 20px 3px;
    margin: 15px 32px 5px;
}
.price-card{
    padding: 0px 20px 8px;
    margin: 0px 32px 8px;
    font-family: 'Nunito', sans-serif;

}
.container-bottom{
    border: 1px solid #A5A1A1;
    border-radius: 8px;
    background:#F9F9F9;
    width: 99,8%;
    height: 150px;
}
.utilidade{
    list-style: none;
    padding: 8px 10px;
    margin: 15px 10px;
}
.item-utilidade{
    margin: 8px;
}
.link-utilidade{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #161616;
}
.formulario{
    float: right;
    margin-top: -100px;
}
.text-forms{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}
input{
    width: 210px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus{
    background-color: lightblue;
}
.send-button{
    height: 31px;
    border-radius: 4px;
    border: none;
    background-color: #5CA720;
}
.send-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.send-button:active {
    transform: translateY(4px);
}
.footer-list{
    list-style: none;
    display: inline;
}
.footer-item{
    float: left;
    padding: 5px 8px;
    margin: 10px 15px;
}
.fa-socials{
    color: #5CA720;
    margin: 8px;
}
.payment{
    float: right;
    margin: 18px;
}